# Files and directories created by pub
.packages
.pub/
build/

# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

# Credentials
server/bin/server.dart

# Log
server/bin/api_log_file.txt

# Webstorm
.idea/